<div id="main-title-container" style="display:flex; align-items:center; gap:10px;">
  <h4 id="title">PPI Network Visualizer</h4>

  <div class="upload-section">
    <label for="ppi-upload" class="btn btn-sm btn-dark" style="cursor:pointer; white-space: nowrap;">
      <i class="bi bi-upload"></i>
      <span>Upload data</span>
    </label>
    <input type="file" id="ppi-upload" accept=".csv, .txt" style="display:none;">
  </div>

  <p id="stats" style="margin: 0 0 0 10px; white-space:nowrap;"><i></i></p>
</div>