<div id="main-title-container" style="display:flex; align-items:center; gap:10px;">
  <h4 id="title">Explainable PPI Network</h4>

  <select id="go-file-select" class="form-select form-select-sm" style="width:130px;">
    <option value="go.obo" selected>go.obo</option>
  </select>

  <!-- <div class="dropdown" style="margin-left: 10px;">
    <button 
      class="btn btn-sm btn-dark dropdown-toggle" 
      type="button" 
      id="gafDropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false">
      GAFs
    </button>
    <ul class="dropdown-menu p-2" aria-labelledby="gafDropdown" style="min-width:200px;">
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="goa_human.gaf" checked> goa_human.gaf
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="mgi.gaf" checked> mgi.gaf
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="fb.gaf" checked> fb.gaf
        </label>
      </li>
    </ul>
  </div> -->

  <button id="play-pause-btn" class="btn btn-sm btn-dark">
    <i id="play-pause-icon" class="bi bi-pause-circle-fill"></i>
  </button>
  <button id="export-btn" class="btn btn-sm btn-dark">
    <i class="bi bi-download"></i>
  </button>
  <p id="stats" style="margin-left: 10px;"><i></i></p>
</div>