<div id="info-tab-header">
    <span></span>
    <button class="minimize-btn-icon" onclick="toggleInfoBody(event)">−</button>
  </div>
  <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapse-chat">
    <span>Predictions</span>
  </div>

  <div id="collapse-chat" class="collapse show">
      <div id="protein-tabs" class="nav nav-tabs mt-3" role="tablist">
      </div>

      <div id="protein-tab-content" class="tab-content border-start border-end border-bottom p-3" style="font-size: 12px; line-height: 1.4; overflow-y: auto;">
      </div>

      <div id="prediction-container" style="padding: 10px; display:flex; align-items: center; justify-content: space-between;">
          <p id="prediction-status" style="font-style: italic; font-size: 14px; color: #ccc; margin-bottom: 8px;"></p>
          <button id="btn-predict">
              Generate
          </button>
      </div>
    </div>

    <!-- Graph Tables -->
  <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#collapse-table">
    <span>Network Details</span>
    <i class="chevron-icon bi bi-chevron-down"></i>
  </div>
  
  <div id="collapse-table" class="collapse show">
    <div id="table-tabs" style="margin-bottom: 8px;">
      <div id="table-help" class="help-icon" data-bs-toggle="tooltip" data-bs-placement="top"> 
        <i class="bi bi-question-circle-fill"></i>
        <div id="table-tooltip" class="help-tooltip">
          Use the tabs to switch between tables. <br>
          Use the search box to filter results from any column. <br>
          Use "" around search for exact match <br>
          Click on a row to show location in graph. <br>
          Use vertical and horizontal scroll to explore all results.
        </div>
      </div>
      <div id="tabs-wrapper" style="margin-left:auto; display:flex;">
        <button id="btn-clear-table" class="btn btn-sm btn-outline-secondary" style="font-size: 12px;height:25px;">
          <i class="bi bi-x-circle"></i> Clear Filters
        </button>
        <button id="popout-table" style="height:25px;"><i class="bi bi-box-arrow-up-right" style="font-size:0.7em;"></i></button>
        <button id="tab-nodes" style="height:25px;" class="active-tab">Nodes</button>
        <button id="tab-links" style="height:25px;width:70px;">Links</button>
      </div>
    </div>

      <!-- Container for tables -->
      <div id="table-container">
        <table id="data-table" class="display data-table nowrap" style="width: 100%; display: table">
          <thead>
            <tr id="table-header-row">
              <th>Protein IDs</th>
              <th>Link Count</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>