
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="/static/css/main_style.css">
  <title>Graph Visualization</title>

  <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
  <script type="text/javascript">{{ g.sijax.get_js()|safe }} </script>
  <script src="{{ url_for('static',filename='js/libs/jqueryv3.5.1.js')}}"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.dataTables.min.css" />
<script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>

  <script src="{{ url_for('static', filename='js/libs/d3.v7.js')}}"></script>

  <!-- <script src="//unpkg.com/three"></script> -->
  <script src="https://unpkg.com/three@0.150.1/build/three.min.js"></script>
  <script src="https://unpkg.com/three@0.150.1/examples/js/math/ConvexHull.js"></script>
  <script src="//unpkg.com/dat.gui"></script>
  <script src="//unpkg.com/d3-octree"></script>
  <script src="//unpkg.com/d3-force-3d"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
  <script src="https://unpkg.com/three-spritetext@1.8.1"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <script src="//cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
      }
    }
  </script>
  <script type="text/javascript" src="/static/js/utils/my_utils.js"></script>
  <script type="text/javascript" src="/static/js/config.js"></script>
</head>
<body>

<div id="main-title-container" style="display:flex; align-items:center; gap:10px;">
  <h4 id="title">Explainable PPI Network</h4>

  <select id="go-file-select" class="form-select form-select-sm" style="width:130px;">
    <option value="go.obo" selected>go.obo</option>
  </select>

  <div class="dropdown" style="margin-left: 10px;">
    <button 
      class="btn btn-sm btn-dark dropdown-toggle" 
      type="button" 
      id="gafDropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false">
      GAFs
    </button>
    <ul class="dropdown-menu p-2" aria-labelledby="gafDropdown" style="min-width:200px;">
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="goa_human.gaf" checked> goa_human.gaf
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="mgi.gaf" checked> mgi.gaf
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input type="checkbox" value="fb.gaf" checked> fb.gaf
        </label>
      </li>
    </ul>
  </div>

  <button id="play-pause-btn" class="btn btn-sm btn-dark">
    <i id="play-pause-icon" class="bi bi-pause-circle-fill"></i>
  </button>
  <button id="export-btn" class="btn btn-sm btn-dark">
    <i class="bi bi-download"></i>
  </button>
  <p id="stats" style="margin-left: 10px;"><i></i></p>
</div>

<div id="3d-graph" style="position: fixed;"></div>
<div id="gui-container" style="position: fixed; top: 70px; right: 20px;">
  <div id="graph-help" class="help-icon">
    <i class="bi bi-question-circle-fill"></i>
  </div>
  <div id="graph-tooltip" class="help-tooltip">
    Click and drag to rotate. <br>
    Scroll to zoom. <br>
    Hover nodes for details. <br>
    Click nodes to highlight neighbors. <br>
    Press H to hide/show the controls.
  </div>
</div>

<div id="protein-frame-container"></div>

<svg id="modal-connectors"
     style="
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       pointer-events: none;
       z-index: 999;
     ">
</svg>

<ul id="context-menu" class="list-group position-absolute shadow bg-dark text-white border border-secondary p-2 rounded" style="display: none; z-index: 1050;">
  <li class="list-item bg-dark text-white border-0" onclick="createProteinModal()">Show 3D structure</li>
</ul>

<div id="protein-info-container" class="card bg-dark text-white shadow">
  <div id="info-tab-header">
    <span>Protein-Protein Interactions</span>
    <button class="minimize-btn-icon" onclick="toggleInfoBody(event)">−</button>
  </div>

    <!-- Interaction score distribution -->
    <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#collapse-hist">
      <span>Network Overview</span>
      <i class="chevron-icon bi bi-chevron-down"></i>
    </div>
    <div id="collapse-hist" class="collapse show">
      <div class="charts-container">
        
        <div class="charts-row two-col">
          <div class="chart-frame score-frame">
            <div class="chart-header">
              <span class="chart-title">Score Distribution</span>
            </div>
            <svg id="score-histogram"></svg>
          </div>

          <div class="chart-frame radar-frame">
            <div class="chart-header">
              <span class="chart-title">STRING Scores</span>
            </div>
            <svg id="radar-chart"></svg>
          </div>

          <div class="chart-frame clusters-frame">
            <div class="chart-header">
              <span class="chart-title">Clusters</span>
            </div>
            <div id="cluster-list">
            </div>
          </div>
        </div>

        <div class="charts-row three-col">
          <div class="chart-frame">
            <div class="chart-header">
              <span class="chart-title">Biological Processes</span>
            </div>
            <svg id="term-chart-BP" class="term-chart"></svg>
          </div>

          <div class="chart-frame">
            <div class="chart-header">
              <span class="chart-title">Molecular Functions</span>
            </div>
            <svg id="term-chart-MF" class="term-chart"></svg>
          </div>

          <div class="chart-frame">
            <div class="chart-header">
              <span class="chart-title">Cellular Components</span>
            </div>
            <svg id="term-chart-CC" class="term-chart"></svg>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat -->
  <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#collapse-chat">
    <span>Chat</span>
    <i class="chevron-icon bi bi-chevron-right"></i>
  </div>
  <div id="collapse-chat" class="collapse">
    <div id="chat-history" style="height: 120px; font-size: 0.9rem;"></div>
    <div class="card-footer d-flex p-2 bg-dark">
      <div id="chat-help" class="help-icon" data-bs-toggle="tooltip" data-bs-placement="top">
        <i class="bi bi-question-circle-fill"></i>
      </div>
      <div class="help-tooltip">This chat allows you to interact with an AI assistant.</div>
      <input type="text" id="chat-input" class="form-control me-2 bg-secondary text-white border" placeholder="Type a question...">
      <button class="btn btn-sm btn-outline-light" onclick="sendChat()">Send</button>
    </div>
  </div>

    <!-- Graph Tables -->
  <div class="card-header collapsible" data-bs-toggle="collapse" data-bs-target="#collapse-table">
    <span>Network Details</span>
    <i class="chevron-icon bi bi-chevron-down"></i>
  </div>
  <div id="collapse-table" class="collapse show">
    <div id="table-tabs" style="margin-bottom: 8px;">
      <div id="table-help" class="help-icon" data-bs-toggle="tooltip" data-bs-placement="top"> 
        <i class="bi bi-question-circle-fill"></i>
        <div id="table-tooltip" class="help-tooltip">
          Use the tabs to switch between tables. <br>
          Use the search box to filter results from any column. <br>
          Use "" around search for exact match <br>
          Click on a row to show location in graph. <br>
          Use vertical and horizontal scroll to explore all results.
        </div>
      </div>
      <div id="tabs-wrapper" style="margin-left:auto; display:flex;">
        <button id="popout-table" style="height:25px;"><i class="bi bi-box-arrow-up-right" style="font-size:0.7em;"></i></button>
        <button id="tab-nodes" style="height:25px;" class="active-tab">Nodes</button>
        <button id="tab-links-ver" style="height:25px;width:120px;">Verified Links</button>
        <button id="tab-links-unver" style="height:25px;width:140px;">Unverified Links</button>
      </div>
    </div>

      <!-- Container for tables -->
      <div id="table-container">
        <table id="data-table" class="display data-table nowrap" style="width: 100%; display: table">
          <thead>
            <tr id="table-header-row">
              <th>Protein IDs</th>
              <th>Link Count</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </div>
</div>

<div id ="logo-images" style="visibility:visible;">
  <div id="legend-confidence" class='edge-legend' style="position: fixed; z-index: 10; right: 40px; bottom: 35px; text-align: center;">
    <strong>Association Score</strong>
    <div style="width: 150px; height: 15px; background: linear-gradient(to right, var(--low-confidence), var(--high-confidence)); border: 1px solid #ccc;"></div>
    <div style="display: flex; justify-content: space-between; font-size: 12px; color: white;">
      <span>Low (0.0)</span>
      <span>High (1.0)</span>
    </div>
  </div>

  <div id="legend-validation" class='edge-legend' style="position: fixed; z-index: 10; right: 40px; bottom: 35px; text-align: center; display: none;">
    <strong>Validation Source</strong>
    <div style="display: flex; justify-content: space-evenly; margin-top: 4px;">
      <div style="display: flex; align-items: center; gap: 5px;">
        <span style="width: 10px; height: 10px; background: #40B0A6; display: inline-block; border: 1px solid #ccc;"></span>
        <span style="color: white; font-size: 12px;">STRING</span>
      </div>
      <div style="display: flex; align-items: center; gap: 5px;">
        <span style="width: 10px; height: 10px; background: #E1BE6A; display: inline-block; border: 1px solid #ccc;"></span>
        <span style="color: white; font-size: 12px;">GO</span>
      </div>
    </div>
  </div>

  <div id="tooltip" style="
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10000;
  ">
  </div>
  <!-- <img src="./static/data/logos_all.png" style="position: fixed; z-index: 10; padding-left: 5px; padding-top: 25px; " alt="ANL" width="445" height="65"> -->
  <!-- <img src="./static/data/ALCF.png" style="position: fixed; z-index: 10; right: 360px; padding-top: 25px; " alt="ANL" width="200" height="auto"> 
  <img src="./static/data/intel.png" style="position: fixed; z-index: 10; right: 240px; padding-top: 25px; " alt="Intel" width="70" height="auto"> 
  <img src="./static/data/HPE.png" style="position: fixed; z-index: 10; right: 45px; " alt="HPE" width="150" height="65">  -->

</div>

<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/gui.js') }}"></script>
<script src="{{ url_for('static', filename='js/panel.js') }}"></script>

<script>
  // Initializing 3D object
  initGraph();

  function getConnectedComponents(nodes, adjacency) {
    const visited = new Set();
    const components = [];

    let clusterIndex = 0;

    nodes.forEach(node => {
      if (!visited.has(node.id)) {
        const component = [];
        const stack = [node.id];

        while (stack.length > 0) {
          const current = stack.pop();
          if (!visited.has(current)) {
            visited.add(current);
            component.push(current);

            // Assign cluster color directly to node
            const nodeObj = nodes.find(n => n.id === current);
            if (nodeObj) {
              nodeObj.clusterColor = clusterColorScale(clusterIndex);
              nodeObj.clusterId = clusterIndex;
            }

            adjacency[current]?.forEach(neighbor => {
              if (!visited.has(neighbor)) {
                stack.push(neighbor);
              }
            });
          }
        }
        clusterIndex += 1;
      }
    });
  }

  function setStats(nlen, llen){
    let intr = (llen <= 1) ? "interaction" : "interactions";
    let prt = (nlen <= 1) ? "protein" : "proteins";
    document.getElementById("stats").innerHTML = `Processed ${nlen} ${prt} and ${llen} ${intr}`;
  }


  function getUniqueLinks(data){
    return data.reduce(function(a, b) {
      let s = typeof b.source === 'object' ? b.source.id : b.source;
      let t = typeof b.target === 'object' ? b.target.id : b.target;
      if(!(a.includes(s+"_"+t)))
      {
        a.push(s+"_"+t)
      }
      return a
    }, [])
  }

  document.documentElement.style.setProperty('--low-confidence', LOW_CONFIDENCE_COLOR);
  document.documentElement.style.setProperty('--high-confidence', HIGH_CONFIDENCE_COLOR);

  document.querySelectorAll('.card-header.collapsible').forEach(header => {
    const targetId = header.getAttribute('data-bs-target');
    const target = document.querySelector(targetId);
    const chevron = header.querySelector('.chevron-icon');

    header.addEventListener('click', () => {
      const isExpanded = target.classList.contains('show');
      target.classList.toggle('show');
      if (!isExpanded) {
        chevron.classList.remove('bi-chevron-right');
        chevron.classList.add('bi-chevron-down');
      } else {
        chevron.classList.remove('bi-chevron-down');
        chevron.classList.add('bi-chevron-right');
      }
    });
  });

  // pause or resume data partitions load from backend
  const playPauseBtn = document.getElementById('play-pause-btn');
  playPauseBtn.addEventListener('click', () => {
    pauseAnimation = !pauseAnimation;
    playPauseBtn.innerHTML = pauseAnimation ? '<i id="play-pause-icon" class="bi bi-play-circle-fill"></i>' : '<i id="play-pause-icon" class="bi bi-pause-circle-fill"></i>';
    console.log(pauseAnimation ? 'Pausing data load...' : 'Resuming data load...');
  });

  // main graph load and backend data update listener
  startDataLoad();
  document.getElementById("title").style.width = window.innerWidth.toString()+"px";
  document.getElementById("logo-images").style.paddingTop = (window.innerHeight-100).toString()+"px";
  document.getElementById("logo-images").style.paddingLeft = (window.innerWidth-460).toString()+"px";

  // graph resize on window resize
  d3.select(window).on("resize", () => {
    Graph.width(window.innerWidth);
    Graph.height(window.innerHeight);
    document.getElementById("logo-images").style.paddingTop = (window.innerHeight-100).toString()+"px";
    document.getElementById("logo-images").style.paddingLeft = (window.innerWidth-460).toString()+"px";
    document.getElementById("title").style.width = window.innerWidth.toString()+"px";
  });

  const helpIcons = document.querySelectorAll('.help-icon');

  helpIcons.forEach(icon => {
    const tooltip = icon.querySelector('.help-tooltip') || icon.nextElementSibling;
    icon.addEventListener('mouseenter', () => {
      tooltip.style.display = 'block';
      const rect = icon.getBoundingClientRect();

      let top = rect.bottom + 5;
      let left = rect.left + rect.width / 2 - tooltip.offsetWidth / 2;

      left = Math.max(5, Math.min(left, window.innerWidth - tooltip.offsetWidth - 5));
      top = Math.max(5, Math.min(top, window.innerHeight - tooltip.offsetHeight - 5));

      tooltip.style.top = `${top}px`;
      tooltip.style.left = `${left}px`;
    });

    icon.addEventListener('mouseleave', () => {
      tooltip.style.display = 'none';
    });
  });
</script>

</body>
